[
  {
    "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
    "value": "0819cd0f-47dd-4e6b-a80a-2b2c58bcb2e0",
    "slotSetting": false
  },
  {
    "name": "APPLICATIONINSIGHTS_CONNECTION_STRING",
    "value": "InstrumentationKey=0819cd0f-47dd-4e6b-a80a-2b2c58bcb2e0;IngestionEndpoint=https://centralindia-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralindia.livediagnostics.monitor.azure.com/",
    "slotSetting": false
  },
  {
    "name": "AZURE_STORAGE_CONNECTION_STRING",
    "value": "DefaultEndpointsProtocol=https;AccountName=stagingfunctionsapp;AccountKey=NoTUMiUGXL4lSWwxXNblsaWrgtukrDbPIKOGCAQIXe8QBNUhuRpjL+kEiRE/pc0/vTBWWzEnib58+AStaENRsw==;EndpointSuffix=core.windows.net",
    "slotSetting": false
  },
  {
    "name": "AzureWebJobsStorage",
    "value": "DefaultEndpointsProtocol=https;AccountName=stagingfunctionsapp;AccountKey=NoTUMiUGXL4lSWwxXNblsaWrgtukrDbPIKOGCAQIXe8QBNUhuRpjL+kEiRE/pc0/vTBWWzEnib58+AStaENRsw==;EndpointSuffix=core.windows.net",
    "slotSetting": false
  },
  {
    "name": "DailyReportEmail",
    "value": "bhumika.vyas@technomark.io,rajesh.muliya@technomark.io,varun.vataliya@technomark.io,harsh.pandya@pathquest.com",
    "slotSetting": false
  },
  {
    "name": "FUNCTIONS_EXTENSION_VERSION",
    "value": "~4",
    "slotSetting": false
  },
  {
    "name": "FUNCTIONS_WORKER_RUNTIME",
    "value": "dotnet",
    "slotSetting": false
  },
  {
    "name": "SecretKey",
    "value": "f5ea77a2-acb6-4b1f-842e-7cbd39d0df60",
    "slotSetting": false
  },
  {
    "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
    "value": "DefaultEndpointsProtocol=https;AccountName=stagingfunctionsapp;AccountKey=NoTUMiUGXL4lSWwxXNblsaWrgtukrDbPIKOGCAQIXe8QBNUhuRpjL+kEiRE/pc0/vTBWWzEnib58+AStaENRsw==;EndpointSuffix=core.windows.net",
    "slotSetting": false
  },
  {
    "name": "WEBSITE_CONTENTSHARE",
    "value": "staging-tmshelp8f53",
    "slotSetting": false
  },
  {
    "name": "WEBSITE_RUN_FROM_PACKAGE",
    "value": "1",
    "slotSetting": false
  }
]
