<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IDLETIME" value="10"/>
		<add key="IDLEMAXTIME" value="60"/>
		<add key ="VERSION" value="2.1.0.0"/>
	</appSettings>
	<connectionStrings>
		<!--Staging Environment-->
		<add name="UserManagementURl" connectionString="https://staging-usermanagement.azurewebsites.net/api/"/>
		<add name="WorklogsURl" connectionString="https://staging-tmsworklogs.azurewebsites.net/api/"/>
		<add name="HelpURl" connectionString="https://staging-tmshelp.azurewebsites.net/api/"/>
		<!--Staging Environment-->
		
		
		<!--Local Environment
		<add name="UserManagementURl" connectionString="http://localhost:7160/api/"/>
		<add name="WorklogsURl" connectionString="http://localhost:7121/api/"/>
		<add name="HelpURl" connectionString="http://localhost:7199/api/"/>
		Local Environment-->
	</connectionStrings>
</configuration>